<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style:'width:150px' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :password, style: 'width: 150px' %>
    <% if @user != @current_user %>
      <%= form.password_field :password %>
    <% else %>
      <%= form.text_field :password %>
    <% end %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit class:'btn btn-outline-success' %>
  </div>
<% end %>
